
<!-- $Id: footer.tt,v 1.5 2008/04/09 12:52:33 syed Exp $ -->

<div id="mart_bottom_bar">
  <span class="contact">
    If you have any suggestions for improvements to this system or <br />
    would like to submit a bug report, please <a href="mailto:htgt@sanger.ac.uk">get in touch</a>.
   </span>
   <span class="credit">
     <% dt = Time.now %>
     Powered by biomart (v0.7)<br />
     Data last updated on <%= dt.strftime("%m/%d/%Y at %I:%M%p") %>
   </span>
</div>
